Repository kmrzyglod/SmartHome.App: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-webapp.yml

azure-pipelines-api.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: mirror-git-repository-vsts-task@1
    inputs:
      sourceGitRepositoryUri: https://dev.azure.com/kamilmrzyglod/Smart%20home/_git/SmartHome.App
      sourceGitRepositoryPersonalAccessToken: $(DevOpsReposAccessToken)
  ...

azure-pipelines-webapp.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: mirror-git-repository-vsts-task@1
    inputs:
      sourceGitRepositoryUri: https://dev.azure.com/kamilmrzyglod/Smart%20home/_git/SmartHome.App
      sourceGitRepositoryPersonalAccessToken: $(DevOpsReposAccessToken)
  ...

Some fixes
  src/Api/SmartHome.Api.csproj
  src/Application/SmartHome.Application.Shared/SmartHome.Application.Shared.csproj
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Clients/WebApp/Services/Shared/NotificationsHub/NotificationsHub.cs
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
  src/Infrastructure/SmartHome.Infrastructure.Migrations/SmartHome.Infrastructure.Migrations.csproj
  src/Infrastructure/SmartHome.Infrastructure.Shared/SmartHome.Infrastructure.Shared.csproj
  src/Infrastructure/SmartHome.Infrastructure/MediatR/ValidationBehaviour.cs
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
  src/Integrations/Functions/NotifyClients/NotifyClients.cs
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix event definitions assembly
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
  src/Infrastructure/SmartHome.Infrastructure/EventBusMessageDeserializer/EventGridMessageDeserializer.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix mediatr handlers assembly initialization
  src/Api/Startup.cs
  src/Application/SmartHome.Application/Commands/Devices/Shared/Ping/PingCommandHandler.cs
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
  src/Integrations/Functions/DI/DIConfig.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix events definition
  src/Application/SmartHome.Application.Shared/Commands/Devices/WindowsController/CloseWindow/CloseWindowCommand.cs
  src/Application/SmartHome.Application.Shared/Commands/Devices/WindowsController/OpenWindow/OpenWindowCommand.cs
  src/Application/SmartHome.Application.Shared/Events/Devices/GreenhouseController/Telemetry/GreenhouseControllerTelemetryEvent.cs
  src/Application/SmartHome.Application.Shared/Events/Devices/WindowsController/Telemetry/WindowsControllerTelemetryEvent.cs
  src/Application/SmartHome.Application.Shared/Events/Devices/WindowsController/WindowClosed/WindowClosedEvent.cs
  src/Application/SmartHome.Application.Shared/Events/Devices/WindowsController/WindowOpened/WindowOpenedEvent.cs
  src/Infrastructure/SmartHome.Infrastructure/EventStore/MongoClassMap.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix event processing
  src/Application/SmartHome.Application.Shared/Events/Devices/GreenhouseController/Telemetry/GreenhouseControllerTelemetryEvent.cs
  src/Application/SmartHome.Application.Shared/Events/Devices/WindowsController/Telemetry/WindowsControllerTelemetryEvent.cs
  src/Application/SmartHome.Application.Shared/Events/Devices/WindowsController/WindowClosed/WindowClosedEvent.cs
  src/Application/SmartHome.Application.Shared/Events/Devices/WindowsController/WindowOpened/WindowOpenedEvent.cs
  src/Infrastructure/SmartHome.Infrastructure/MediatR/ValidationBehaviour.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Some fixes
  src/Application/SmartHome.Application.Shared/Events/Devices/GreenhouseController/Irrigation/IrrigationFinishedEvent.cs
  src/Application/SmartHome.Application.Shared/Events/Devices/GreenhouseController/Telemetry/GreenhouseControllerTelemetryEvent.cs
  src/Application/SmartHome.Application/Events/Devices/GreenhouseController/Irrigation/GreenhouseControllerIrrigationFinishedUpdateDbHandler.cs
  src/Application/SmartHome.Application/Events/Devices/GreenhouseController/Telemetry/GreenhouseControllerTelemetryEventUpdateDbHandler.cs
  src/Application/SmartHome.Application/Interfaces/DbContext/IApplicationDbContext.cs
  src/Domain/Entities/Devices/Greenhouse/GreenhouseIrrigationHistory.cs
  src/Domain/Entities/Devices/Greenhouse/GreenhouseWindowsStatus.cs
  src/Infrastructure/SmartHome.Infrastructure/Migrations/20200904003435_ChangesInTableStructure.Designer.cs
  src/Infrastructure/SmartHome.Infrastructure/Migrations/20200904003435_ChangesInTableStructure.cs
  src/Infrastructure/SmartHome.Infrastructure/Persistence/ApplicationDbContext.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Added missing commands
  src/Api/Controllers/DevicesController.cs
Due: azure-pipelines-api.yml

Added controller for greenhouse data analytics
  src/Api/Controllers/GreenhouseDataController.cs
  src/Api/Startup.cs
  src/Application/SmartHome.Application.Shared/Interfaces/Event/IEventFilteringCriteria.cs
  src/Application/SmartHome.Application.Shared/Interfaces/Event/IPageRequest.cs
  src/Application/SmartHome.Application.Shared/Models/PageRequest.cs
  src/Application/SmartHome.Application.Shared/Queries/GreenhouseController/GetWindowsStatus/WindowsStatusVm.cs
  src/Application/SmartHome.Application/Interfaces/EventStore/IEventStoreClient.cs
  src/Application/SmartHome.Application/Queries/General/GetEvents/GetEventsQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GreenhouseController/GetWindowsStatus/GetWindowsStatusQueryHandler.cs
  src/Infrastructure/SmartHome.Infrastructure/EventStore/EventStoreClient.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Update azure-pipelines-integrations.yml for Azure Pipelines
  azure-pipelines-integrations.yml
Due: none

Update azure-pipelines-webapp.yml for Azure Pipelines
  azure-pipelines-webapp.yml
Due: none

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none

Add tabs to weather station dashboard
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor.cs
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor
  src/Clients/WebApp/wwwroot/css/site.css
Due: azure-pipelines-webapp.yml

Added greenhouse analytics view, added missing endpoint for get irrigation data
  src/Api/Controllers/GreenhouseDataController.cs
  src/Application/SmartHome.Application.Shared/Queries/GreenhouseController/GetIrrigationData/GetIrrigationDataQuery.cs
  src/Application/SmartHome.Application.Shared/Queries/GreenhouseController/GetIrrigationData/IrrigationDataVm.cs
  src/Application/SmartHome.Application/Queries/GreenhouseController/GetIrrigationData/GetIrrigationDataQueryHandler.cs
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor.cs
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/Services/Analytics/GreenhouseService.cs
  src/Clients/WebApp/Services/Analytics/IGreenhouseService.cs
  src/Clients/WebApp/Shared/NavMenu.razor
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix data ordering, fix charts loading
  src/Application/SmartHome.Application/Queries/GreenhouseController/GetHumidity/GetHumidityQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GreenhouseController/GetInsolation/GetInsolationQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GreenhouseController/GetIrrigationData/GetIrrigationDataQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GreenhouseController/GetSoilMoisture/GetSoilMoistureQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GreenhouseController/GetTemperature/GetTemperatureQueryHandler.cs
  src/Application/SmartHome.Application/Queries/WeatherStation/GetHumidity/GetHumidityQueryHandler.cs
  src/Application/SmartHome.Application/Queries/WeatherStation/GetInsolation/GetInsolationQueryHandler.cs
  src/Application/SmartHome.Application/Queries/WeatherStation/GetPrecipitation/GetPrecipitationQueryHandler.cs
  src/Application/SmartHome.Application/Queries/WeatherStation/GetPressure/GetPressureQueryHandler.cs
  src/Application/SmartHome.Application/Queries/WeatherStation/GetTemperature/GetTemperatureQueryHandler.cs
  src/Application/SmartHome.Application/Queries/WeatherStation/GetWindParameters/GetWindParametersQueryHandler.cs
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor.cs
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Update devexpress version
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor.cs
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor.cs
  src/Clients/WebApp/Shared/Components/DateRangePicker/DateRangePicker.razor
  src/Clients/WebApp/Shared/Components/DateRangePicker/DateRangePicker.razor.cs
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
Due: azure-pipelines-webapp.yml

Request cache added
  src/Api/MediatR/RequestCacheBehaviour.cs
  src/Api/SmartHome.Api.csproj
  src/Api/Startup.cs
  src/Application/SmartHome.Application.Shared/Interfaces/Cache/ICache.cs
  src/Application/SmartHome.Application.Shared/Interfaces/Cache/ICacheOptions.cs
  src/Application/SmartHome.Application.Shared/Interfaces/Query/INoCache.cs
  src/Application/SmartHome.Application.Shared/SmartHome.Application.Shared.csproj
  src/Infrastructure/SmartHome.Infrastructure/Cache/CacheOptions.cs
  src/Infrastructure/SmartHome.Infrastructure/Cache/CustomMemoryCache.cs
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Added SignalR
  src/Api/MediatR/RequestCacheBehaviour.cs
  src/Api/Notifications/NotificationsHub.cs
  src/Api/SmartHome.Api.csproj
  src/Api/Startup.cs
  src/Application/SmartHome.Application/Queries/General/GetEvents/GetEventsQueryHandler.cs
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/INotificationsHub.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/NotificationsHub.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/SignalRNotificationsHub.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

SignalR implementation in web app
  src/Api/Notifications/NotificationsHub.cs
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Try to fix SignalR connection
  src/Api/Notifications/NotificationsHub.cs
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Added routes fallback
  src/Clients/WebApp/wwwroot/routes.json
Due: azure-pipelines-webapp.yml

Update framework version, fix integration with SignalR Azure service
  src/Api/Controllers/NotificationsHub.cs
  src/Api/Notifications/NotificationsHub.cs
  src/Api/SmartHome.Api.csproj
  src/Api/Startup.cs
  src/Application/SmartHome.Application.Shared/Models/NotificationService/NegotiateResult.cs
  src/Application/SmartHome.Application.Shared/Queries/General/NotificationsHubNegotiate/NegotiateResultVm.cs
  src/Application/SmartHome.Application.Shared/Queries/General/NotificationsHubNegotiate/NotificationsHubNegotiateQuery.cs
  src/Application/SmartHome.Application.Shared/SmartHome.Application.Shared.csproj
  src/Application/SmartHome.Application/Exceptions/HttpResponseMessageDeserializationException.cs
  src/Application/SmartHome.Application/Exceptions/NotificationServiceClientException.cs
  src/Application/SmartHome.Application/Extensions/HttpResponseMessageExtensions.cs
  src/Application/SmartHome.Application/Interfaces/NotificationService/INotificationServiceClient.cs
  src/Application/SmartHome.Application/Queries/General/NotificationsHubNegotiate/NotificationsHubNegotiateQueryHandler.cs
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/Properties/launchSettings.json
  src/Clients/WebApp/Services/Shared/NotificationsHub/INotificationsHub.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/SignalRNotificationsHub.cs
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
  src/Infrastructure/SmartHome.Infrastructure.Migrations/SmartHome.Infrastructure.Migrations.csproj
  src/Infrastructure/SmartHome.Infrastructure/Configuration/ConfigProvider.cs
  src/Infrastructure/SmartHome.Infrastructure/Configuration/IConfigProvider.cs
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
  src/Infrastructure/SmartHome.Infrastructure/NotificationService/NotificationServiceClient.cs
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
  src/Integrations/Functions/NotifyClients/NotifyClients.cs
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Rollback github action for deploy Azure Static WebApp
  .github/workflows/azure-static-web-apps-kind-ground-0754c1303.yml.txt
Due: none

Try to trigger build
  src/Application/SmartHome.Application/Queries/General/GetEvents/GetEventsQueryHandler.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix
  .github/workflows/azure-static-web-apps-kind-ground-0754c1303.yml
  src/Application/SmartHome.Application/Queries/GreenhouseController/GetIrrigationData/GetIrrigationDataQueryHandler.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix notifications service negotiate endpoint config
  src/Infrastructure/SmartHome.Infrastructure/Configuration/ConfigProvider.cs
  src/Infrastructure/SmartHome.Infrastructure/Configuration/IConfigProvider.cs
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
  src/Infrastructure/SmartHome.Infrastructure/NotificationService/NotificationServiceClient.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Added health check function
  src/Api/Controllers/HealthCheckController.cs
  src/Api/Controllers/NotificationsHubController.cs
  src/Api/Startup.cs
  src/Application/SmartHome.Application.Shared/Events/App/HealthCheckEvent.cs
  src/Application/SmartHome.Application/Events/App/ApiHealthCheckEventHandler.cs
  src/Application/SmartHome.Application/Interfaces/HttpClient/IApiHealthCheckHttpClient.cs
  src/Application/SmartHome.Application/Interfaces/HttpClient/IHttpClient.cs
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Infrastructure/SmartHome.Infrastructure/Configuration/ConfigProvider.cs
  src/Infrastructure/SmartHome.Infrastructure/Configuration/IConfigProvider.cs
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
  src/Infrastructure/SmartHome.Infrastructure/HttpClients/ApiHealthCheckHttpClient.cs
  src/Integrations/Functions/DI/DIConfig.cs
  src/Integrations/Functions/HealthCheck/HealthCheck.cs
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix
  src/Application/SmartHome.Application/Events/App/ApiHealthCheckEventHandler.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix
  src/Integrations/Functions/HealthCheck/HealthCheck.cs
Due: none

Weather station module implementation started
  src/Clients/WebApp/App.razor
  src/Clients/WebApp/Pages/SystemModules/WeatherStation/WeatherStation.razor
  src/Clients/WebApp/Shared/MainLayout.razor
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
  src/Clients/WebApp/_Imports.razor
  src/Clients/WebApp/wwwroot/css/site.css
  src/Clients/WebApp/wwwroot/index.html
Due: azure-pipelines-webapp.yml

Packages updates
  src/Api/Bindings/RouteAndBodyBinder.cs
  src/Api/MediatR/RequestCacheBehaviour.cs
  src/Api/SmartHome.Api.csproj
  src/Api/Startup.cs
  src/Application/SmartHome.Application.Shared/Models/NotificationService/NegotiateResult.cs
  src/Application/SmartHome.Application.Shared/SmartHome.Application.Shared.csproj
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Clients/WebApp/Pages/SystemModules/WeatherStation/WeatherStation.razor
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Packages update Fixed issue with DevExpress css styling
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
  src/Clients/WebApp/wwwroot/index.html
  src/Infrastructure/SmartHome.Infrastructure.Migrations/SmartHome.Infrastructure.Migrations.csproj
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Auto update for analytics views
  src/Clients/WebApp/App.razor
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor.cs
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/INotificationsHub.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/SignalRNotificationsHub.cs
  src/Clients/WebApp/Shared/Components/DateRangeChart/BaseDateRangeChart.cs
  src/Clients/WebApp/Shared/Components/DateRangeChart/DateRangeChart.razor
  src/Clients/WebApp/Shared/Components/DateRangeChart/DateRangeChart.razor.cs
  src/Clients/WebApp/Shared/Components/DateRangePicker/DateRangePicker.razor.cs
  src/Clients/WebApp/Shared/Components/HumidityChart/HumidityChart.razor.cs
  src/Clients/WebApp/Shared/Components/TemperatureChart/TemperatureChart.razor.cs
  src/Clients/WebApp/wwwroot/css/site.css
  src/Clients/WebApp/wwwroot/index.html
Due: azure-pipelines-webapp.yml

Summary section added
  src/Application/SmartHome.Application/Queries/GreenhouseController/GetTemperatureAggregates/GetTemperatureAggregatesQueryHandler.cs
  src/Application/SmartHome.Application/Queries/WeatherStation/GetTemperatureAggregates/GetTemperatureAggregatesQueryHandler.cs
  src/Application/SmartHome.Application/Queries/WeatherStation/GetWindAggregates/GetWindAggregatesQueryHandler.cs
  src/Clients/WebApp/Helpers/CustomHttpClientJsonExtensions.cs
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor
  src/Clients/WebApp/Services/Analytics/GreenhouseService.cs
  src/Clients/WebApp/Services/Analytics/IGreenhouseService.cs
  src/Clients/WebApp/Services/Analytics/IWeatherService.cs
  src/Clients/WebApp/Services/Analytics/WeatherService.cs
  src/Clients/WebApp/Services/Shared/ApiClient/ApiClient.cs
  src/Clients/WebApp/Services/Shared/ApiClient/IApiClient.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/SignalRNotificationsHub.cs
  src/Clients/WebApp/Shared/Components/DateRangeChart/BaseDateRangeChart.cs
  src/Clients/WebApp/Shared/Components/DateRangeChart/ChartSummary.cs
  src/Clients/WebApp/Shared/Components/DateRangeChart/DateRangeChart.razor
  src/Clients/WebApp/Shared/Components/DateRangeChart/DateRangeChart.razor.cs
  src/Clients/WebApp/Shared/Components/TemperatureChart/TemperatureChart.razor
  src/Clients/WebApp/Shared/Components/TemperatureChart/TemperatureChart.razor.cs
  src/Clients/WebApp/Shared/Components/WindChart/WindChart.razor
  src/Clients/WebApp/Shared/Components/WindChart/WindChart.razor.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Rollback API url
  src/Clients/WebApp/Services/Shared/ApiClient/ApiClient.cs
Due: azure-pipelines-webapp.yml

Downgrade devexpress
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
Due: azure-pipelines-webapp.yml

Updated Azure functions version to .NET 5.0
  src/Api/SmartHome.Api.csproj
  src/Application/SmartHome.Application.Shared/Commands/Devices/GreenhouseController/Irrigation/AbortIrrigationCommand.cs
  src/Application/SmartHome.Application.Shared/Commands/Devices/GreenhouseController/Irrigation/IrrigateCommand.cs
  src/Application/SmartHome.Application.Shared/Commands/Devices/Shared/Ping/PingCommand.cs
  src/Application/SmartHome.Application.Shared/Commands/Devices/Shared/SendDiagnosticData/SendDiagnosticDataCommand.cs
  src/Application/SmartHome.Application.Shared/Commands/Devices/WindowsController/CloseWindow/CloseWindowCommand.cs
  src/Application/SmartHome.Application.Shared/Commands/Devices/WindowsController/OpenWindow/OpenWindowCommand.cs
  src/Application/SmartHome.Application.Shared/Interfaces/Command/ICommand.cs
  src/Application/SmartHome.Application.Shared/Models/NotificationService/NegotiateResult.cs
  src/Application/SmartHome.Application.Shared/SmartHome.Application.Shared.csproj
  src/Application/SmartHome.Application/Queries/General/NotificationsHubNegotiate/NotificationsHubNegotiateQueryHandler.cs
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
  src/Infrastructure/SmartHome.Infrastructure.Migrations/SmartHome.Infrastructure.Migrations.csproj
  src/Infrastructure/SmartHome.Infrastructure/CommandBusMessageDeserializer/IServiceBusMessageDeserializer.cs
  src/Infrastructure/SmartHome.Infrastructure/CommandBusMessageDeserializer/ServiceBusMessageDeserializer.cs
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
  src/Integrations/Functions/DI/DIConfig.cs
  src/Integrations/Functions/HandleCommand/HandleCommand.cs
  src/Integrations/Functions/HealthCheck/HealthCheck.cs
  src/Integrations/Functions/NotifyClients/NotifyClients.cs
  src/Integrations/Functions/Program.cs
  src/Integrations/Functions/SaveEvent/SaveEvent.cs
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
  src/Integrations/Functions/UpdateDatabase/UpdateDatabase.cs
  src/Integrations/Functions/host.json
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Path conditions:
  azure-pipelines-api.yml: any of: src/Api, src/Domain, src/Application, src/Infrastructure
  azure-pipelines-webapp.yml: any of: src/Clients/WebApp, src/Domain, src/Application, src/Infrastructure
