Repository kmrzyglod/SmartHome.App: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-webapp.yml

azure-pipelines-api.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: mirror-git-repository-vsts-task@1
    inputs:
      sourceGitRepositoryUri: https://dev.azure.com/kamilmrzyglod/Smart%20home/_git/SmartHome.App
      sourceGitRepositoryPersonalAccessToken: $(DevOpsReposAccessToken)
  ...

azure-pipelines-webapp.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: mirror-git-repository-vsts-task@1
    inputs:
      sourceGitRepositoryUri: https://dev.azure.com/kamilmrzyglod/Smart%20home/_git/SmartHome.App
      sourceGitRepositoryPersonalAccessToken: $(DevOpsReposAccessToken)
  ...

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none

Update azure-pipelines-webapp.yml for Azure Pipelines
  azure-pipelines-webapp.yml
Due: none

Update azure-pipelines-integrations.yml for Azure Pipelines
  azure-pipelines-integrations.yml
Due: none

Fix host.json
  src/Integrations/Functions/.gitignore
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
  src/Integrations/Functions/host.json
Due: none

Events deserialzier improvments
  src/Application/SmartHome.Application/Events/Devices/Shared/DeviceConnectedEvent.cs
  src/Application/SmartHome.Application/Events/Devices/Shared/DeviceCreatedEvent.cs
  src/Application/SmartHome.Application/Events/Devices/Shared/DeviceDeletedEvent.cs
  src/Application/SmartHome.Application/Events/Devices/Shared/DeviceDisconnectedEvent.cs
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Infrastructure/SmartHome.Infrastructure/DeviceCommandBus/DeviceCommandBus.cs
  src/Infrastructure/SmartHome.Infrastructure/DeviceEventDeserializer/EventGridDeviceConnectedMessage.cs
  src/Infrastructure/SmartHome.Infrastructure/DeviceEventDeserializer/EventGridDeviceDisconnected.cs
  src/Infrastructure/SmartHome.Infrastructure/DeviceEventDeserializer/EventGridMessageDeserializer.cs
  src/Infrastructure/SmartHome.Infrastructure/Enums/EventGridEventType.cs
  src/Infrastructure/SmartHome.Infrastructure/Helpers/EnumHelpers.cs
  src/Integrations/Functions/host.json
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix wrong functions config
  src/Integrations/Functions/host.json
Due: none

Command handling implementation started
  src/Api/Controllers/WeatherForecastController.cs
  src/Api/DI/DIConfig.cs
  src/Api/Properties/launchSettings.json
  src/Api/SmartHome.Api.csproj
  src/Api/Startup.cs
  src/Application/SmartHome.Application/BaseValidators/CommandValidatorBase.cs
  src/Application/SmartHome.Application/Commands/Devices/Shared/Ping/PingCommand.cs
  src/Application/SmartHome.Application/Commands/Devices/Shared/Ping/PingCommandHandler.cs
  src/Application/SmartHome.Application/Commands/Devices/Shared/Ping/PingCommandValidator.cs
  src/Application/SmartHome.Application/Interfaces/Command/IDeviceCommand.cs
  src/Application/SmartHome.Application/Interfaces/CommandBus/ICommandBus.cs
  src/Application/SmartHome.Application/Interfaces/DeviceCommandBus/IDeviceCommandBus.cs
  src/Domain/Const/ValidationMessages.cs
  src/Infrastructure/SmartHome.Infrastructure/CommandBus/CommandBus.cs
  src/Infrastructure/SmartHome.Infrastructure/CommandBusMessageDeserializer/IServiceBusMessageDeserializer.cs
  src/Infrastructure/SmartHome.Infrastructure/CommandBusMessageDeserializer/ServiceBusMessageDeserializationException.cs
  src/Infrastructure/SmartHome.Infrastructure/CommandBusMessageDeserializer/ServiceBusMessageDeserializer.cs
  src/Infrastructure/SmartHome.Infrastructure/Configuration/ConfigProvider.cs
  src/Infrastructure/SmartHome.Infrastructure/Configuration/IConfigProvider.cs
  src/Infrastructure/SmartHome.Infrastructure/Const/ParameterNames.cs
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
  src/Infrastructure/SmartHome.Infrastructure/DeviceCommandBus/DeviceCommandBus.cs
  src/Infrastructure/SmartHome.Infrastructure/DeviceEventDeserializer/EventGridDeviceConnectedMessage.cs
  src/Infrastructure/SmartHome.Infrastructure/DeviceEventDeserializer/EventGridDeviceDisconnected.cs
  src/Infrastructure/SmartHome.Infrastructure/EventBusMessageDeserializer/EventGridMessage.cs
  src/Infrastructure/SmartHome.Infrastructure/EventBusMessageDeserializer/EventGridMessageDeserializationException.cs
  src/Infrastructure/SmartHome.Infrastructure/EventBusMessageDeserializer/EventGridMessageDeserializer.cs
  src/Infrastructure/SmartHome.Infrastructure/EventBusMessageDeserializer/IEventGridMessageDeserializer.cs
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
  src/Integrations/Functions/DI/DIConfig.cs
  src/Integrations/Functions/HandleCommand/HandleCommand.cs
  src/Integrations/Functions/NotifyClients/NotifyClients.cs
  src/Integrations/Functions/SaveEvent/SaveEvent.cs
  src/Integrations/Functions/UpdateDatabase/UpdateDatabase.cs
  src/Integrations/Functions/host.json
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Some improvemnts
  src/Api/Controllers/WeatherForecastController.cs
  src/Application/SmartHome.Application/Interfaces/CommandBus/ICommandBus.cs
  src/Application/SmartHome.Application/Interfaces/DeviceCommandBus/IDeviceCommandBus.cs
  src/Infrastructure/SmartHome.Infrastructure/CommandBus/CommandBus.cs
  src/Infrastructure/SmartHome.Infrastructure/DeviceCommandBus/DeviceCommandBus.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Try to fix pipelines
  src/Api/SmartHome.Api.csproj
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Try to fix functions deploy
  src/Integrations/Functions/host.json
Due: none

Try to fix function app
  src/Integrations/Functions/host.json
Due: none

Some fixes
  src/Application/SmartHome.Application/Commands/Devices/Shared/SendDiagnosticData/SendDiagnosticDataCommand.cs
  src/Application/SmartHome.Application/Events/Devices/WeatherStation/Telemetry/WeatherTelemetryEventUpdateDbHandler.cs
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Infrastructure/SmartHome.Infrastructure/Configuration/ConfigProvider.cs
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
  src/Integrations/Functions/DI/DIConfig.cs
  src/Integrations/Functions/host.json
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Timestamp added to DeviceStatus table
  src/Application/SmartHome.Application/Events/Devices/Shared/Diagnostic/DiagnosticEventUpdateDbHandler.cs
  src/Domain/Entities/Devices/Shared/DeviceStatus.cs
  src/Infrastructure/SmartHome.Infrastructure/Migrations/20200304042904_DeviceStatusTimestampAdded.Designer.cs
  src/Infrastructure/SmartHome.Infrastructure/Migrations/20200304042904_DeviceStatusTimestampAdded.cs
  src/Integrations/Functions/host.json
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

fix hosts.json
  src/Integrations/Functions/host.json
Due: none

Device error event implemented
  src/Application/SmartHome.Application/Events/Devices/Shared/Error/ErrorEvent.cs
  src/Application/SmartHome.Application/SmartHome.Application.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Some improvments
  src/Api/.gitignore
  src/Api/Bindings/RouteAndBodyBinder.cs
  src/Api/Bindings/RouteAndBodyBinderProvider.cs
  src/Api/DI/ServiceCollectionExtensions.cs
  src/Api/Filters/ViewModelFilter.cs
  src/Api/Properties/launchSettings.json
  src/Api/SmartHome.Api.csproj
  src/Api/Startup.cs
Due: azure-pipelines-api.yml

Working swagger with fluent validation and api versioning
  src/Api/SmartHome.Api.csproj
  src/Api/Startup.cs
Due: azure-pipelines-api.yml

Missing device events implemented
  src/Application/SmartHome.Application/Enums/DeviceStatusCode.cs
  src/Application/SmartHome.Application/Events/Devices/Shared/DeviceStatusUpdated/DeviceStatusUpdatedEvent.cs
  src/Application/SmartHome.Application/Events/Devices/WeatherStation/WeatherTelemetryIntervalChanged/WeatherTelemetryIntervalChangedEvent.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

App insights added to API project, some fixes
  src/Api/Bindings/RouteAndBodyBinderProvider.cs
  src/Api/Bindings/UtcAwareDateTimeModelBinder.cs
  src/Api/DI/ServiceCollectionExtensions.cs
  src/Api/SmartHome.Api.csproj
  src/Application/SmartHome.Application/Events/Devices/Shared/Diagnostic/DiagnosticEvent.cs
  src/Application/SmartHome.Application/Models/PaginationResult.cs
  src/Application/SmartHome.Application/Queries/Devices/Shared/GetDeviceStatusHistory/DeviceStatusHistoryVm.cs
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Nuget.config added
  src/nuget.config
Due: none

Fix wrong assembly load after project structure changes
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Try to fix pipelines
  src/nuget.config
Due: none

Some changes in API and Web app
  src/Application/SmartHome.Application.Shared/Queries/GetEvents/EventVm.cs
  src/Application/SmartHome.Application/Queries/GetEvents/GetEventsQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GetHumidity/GetHumidityQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GetInsolation/GetInsolationQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GetPrecipitation/GetPrecipitationQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GetPressure/GetPressureQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GetTemperature/GetTemperatureQueryHandler.cs
  src/Application/SmartHome.Application/Queries/GetWindParameters/GetWindParametersQueryHandler.cs
  src/Clients/WebApp/Helpers/CustomHttpClientJsonExtensions.cs
  src/Clients/WebApp/Helpers/CustomJsonSerializerOptionsProvider.cs
  src/Clients/WebApp/Helpers/JsonConverters/Converters.cs
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor.cs
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/Pages/Index.razor
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/Services/Analytics/IWeatherService.cs
  src/Clients/WebApp/Services/Analytics/WeatherService.cs
  src/Clients/WebApp/Services/EventLog/EventLogService.cs
  src/Clients/WebApp/Services/EventLog/IEventLogService.cs
  src/Clients/WebApp/Services/Logger/Logger.cs
  src/Clients/WebApp/Services/Shared/ApiClient/ApiClient.cs
  src/Clients/WebApp/Shared/Components/DateRangePicker/DateChangedEventArgs.cs
  src/Clients/WebApp/Shared/Components/DateRangePicker/DateRangePicker.razor
  src/Clients/WebApp/Shared/Components/DateRangePicker/DateRangePicker.razor.cs
  src/Clients/WebApp/Shared/Components/DateRangePicker/GranulationType.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Event log on UI implmentatation started
  src/Clients/WebApp/Helpers/DxDataRequestExtensions.cs
  src/Clients/WebApp/Helpers/PaginationResultDxExtensions.cs
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
Due: azure-pipelines-webapp.yml

Update packages versions
  src/Api/SmartHome.Api.csproj
  src/Application/SmartHome.Application.Shared/SmartHome.Application.Shared.csproj
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
  src/Infrastructure/SmartHome.Infrastructure.Migrations/SmartHome.Infrastructure.Migrations.csproj
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Path conditions:
  azure-pipelines-api.yml: any of: src/Api, src/Domain, src/Application, src/Infrastructure
  azure-pipelines-webapp.yml: any of: src/Clients/WebApp, src/Domain, src/Application, src/Infrastructure
