Repository kmrzyglod/SmartHome.App: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-webapp.yml

azure-pipelines-api.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: mirror-git-repository-vsts-task@1
    inputs:
      sourceGitRepositoryUri: https://dev.azure.com/kamilmrzyglod/Smart%20home/_git/SmartHome.App
      sourceGitRepositoryPersonalAccessToken: $(DevOpsReposAccessToken)
  ...

azure-pipelines-webapp.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: mirror-git-repository-vsts-task@1
    inputs:
      sourceGitRepositoryUri: https://dev.azure.com/kamilmrzyglod/Smart%20home/_git/SmartHome.App
      sourceGitRepositoryPersonalAccessToken: $(DevOpsReposAccessToken)
  ...

Fix warnings
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix Event grid integration and SignalR integration aftter testing
  src/Infrastructure/SmartHome.Infrastructure/CommandBus/CommandBus.cs
  src/Infrastructure/SmartHome.Infrastructure/EventBusMessageDeserializer/EventGridEvent.cs
  src/Infrastructure/SmartHome.Infrastructure/EventBusMessageDeserializer/EventGridMessageDeserializer.cs
  src/Infrastructure/SmartHome.Infrastructure/EventBusMessageDeserializer/IEventGridMessageDeserializer.cs
  src/Integrations/Functions/NotifyClients/NotifyClients.cs
  src/Integrations/Functions/SaveEvent/SaveEvent.cs
  src/Integrations/Functions/UpdateDatabase/UpdateDatabase.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix issue with not registered ILogger in Azure Functions DI container
  src/Application/SmartHome.Application/Events/App/ApiHealthCheckEventHandler.cs
  src/Application/SmartHome.Application/Events/Devices/Shared/DeviceConnected/DeviceConnectedEventUpdateDbHandler.cs
  src/Application/SmartHome.Application/Events/Devices/Shared/DeviceDeleted/DeviceDeletedEventUpdateDbHandler.cs
  src/Application/SmartHome.Application/Events/Devices/Shared/DeviceDisconnected/DeviceDisconnectedEventUpdateDbHandler.cs
  src/Application/SmartHome.Application/Events/Devices/Shared/Diagnostic/DiagnosticEventUpdateDbHandler.cs
  src/Application/SmartHome.Application/Logging/LoggingContext.cs
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

json formatting added to event store data grid
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/wwwroot/css/json-formatter.css
  src/Clients/WebApp/wwwroot/index.html
  src/Clients/WebApp/wwwroot/javascript/custom-functions.js
  src/Clients/WebApp/wwwroot/javascript/json-formatter.umd.js
Due: azure-pipelines-webapp.yml

EventHistory view refactoring
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/Shared/Components/DateRangePicker/DateRangePicker.razor
  src/Clients/WebApp/Shared/Components/DateRangePicker/DateRangePicker.razor.cs
  src/Clients/WebApp/wwwroot/javascript/custom-functions.js
Due: azure-pipelines-webapp.yml

Added auto refresh for event store view, added no-cache header handling for API client
  src/Api/MediatR/RequestCacheBehaviour.cs
  src/Application/SmartHome.Application.Shared/Events/App/SavedInEventStoreEvent.cs
  src/Application/SmartHome.Application.Shared/Events/Devices/GreenhouseController/Door/DoorOpenedEvent.cs
  src/Application/SmartHome.Application.Shared/Helpers/TypeHelpers.cs
  src/Application/SmartHome.Application/Interfaces/EventStore/IEventStoreClient.cs
  src/Clients/WebApp/Helpers/CustomHttpClientJsonExtensions.cs
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/Services/EventLog/EventLogService.cs
  src/Clients/WebApp/Services/EventLog/IEventLogService.cs
  src/Clients/WebApp/Services/Shared/ApiClient/ApiClient.cs
  src/Clients/WebApp/Services/Shared/ApiClient/IApiClient.cs
  src/Infrastructure/SmartHome.Infrastructure/EventStore/EventStoreClient.cs
  src/Infrastructure/SmartHome.Infrastructure/NotificationService/SignalRConnectionInfo.cs
  src/Infrastructure/SmartHome.Infrastructure/NotificationService/SignalRMessage.cs
  src/Integrations/Functions/NotifyClients/NotifyClients.cs
  src/Integrations/Functions/SaveEvent/SaveEvent.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix
  src/Integrations/Functions/SaveEvent/SaveEvent.cs
Due: none

Devices manager table added
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DevicesManager.razor
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DevicesManager.razor.cs
  src/Clients/WebApp/Pages/SystemModules/WeatherStation/WeatherStation.razor
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/Services/Devices/DevicesService.cs
  src/Clients/WebApp/Services/Devices/IDevicesService.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/INotificationsHub.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/SignalRNotificationsHub.cs
  src/Clients/WebApp/wwwroot/css/site.css
Due: azure-pipelines-webapp.yml

Added tasks scheduler
  src/Application/SmartHome.Application.Shared/Events/App/ApiHealthCheckEvent.cs
  src/Application/SmartHome.Application.Shared/Events/App/DevicesStatusCheckEvent.cs
  src/Application/SmartHome.Application.Shared/Events/App/HealthCheckEvent.cs
  src/Application/SmartHome.Application.Shared/Events/App/TriggerRulesExecutionEvent.cs
  src/Application/SmartHome.Application.Shared/Interfaces/Event/IScheduledTask.cs
  src/Application/SmartHome.Application/Events/App/ApiHealthCheckEventHandler.cs
  src/Application/SmartHome.Application/Events/App/DevicesStatusCheckEventHandler.cs
  src/Integrations/Functions/DI/DIConfig.cs
  src/Integrations/Functions/HealthCheck/HealthCheck.cs
  src/Integrations/Functions/Program.cs
  src/Integrations/Functions/ScheduleTasks/Infrastructure/ScheduledTasksProvider/IScheduledTasksProvider.cs
  src/Integrations/Functions/ScheduleTasks/Infrastructure/ScheduledTasksProvider/ScheduledTasksProvider.cs
  src/Integrations/Functions/ScheduleTasks/ScheduleTasks.cs
  src/Integrations/Functions/host.json
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Rolback host.json
  src/Integrations/Functions/host.json
Due: none

Device manager details added Command executor added
  src/Clients/WebApp/App.razor
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DeviceListRowVm.cs
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DevicesManager.razor
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DevicesManager.razor.cs
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/Services/Devices/DevicesService.cs
  src/Clients/WebApp/Services/Devices/IDevicesService.cs
  src/Clients/WebApp/Services/Shared/CommandsExecutor/CommandsExecutor.cs
  src/Clients/WebApp/Services/Shared/CommandsExecutor/DefaultCommandNotificationMessagesMapping.cs
  src/Clients/WebApp/Services/Shared/CommandsExecutor/ICommandsExecutor.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/INotificationsHub.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/SignalRNotificationsHub.cs
  src/Clients/WebApp/Shared/Components/DateRangeChart/BaseDateRangeChart.cs
Due: azure-pipelines-webapp.yml

Added device event log component
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DevicesManager.razor
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DevicesManager.razor.cs
  src/Clients/WebApp/Shared/Components/DeviceEventsLog/DeviceEventsLog.razor
  src/Clients/WebApp/Shared/Components/DeviceEventsLog/DeviceEventsLog.razor.cs
Due: azure-pipelines-webapp.yml

Weather station view added
  src/Clients/WebApp/Helpers/JsonSerializerHelpers.cs
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DevicesManager.razor
  src/Clients/WebApp/Pages/SystemModules/WeatherStation/WeatherStation.razor
  src/Clients/WebApp/Pages/SystemModules/WeatherStation/WeatherStation.razor.cs
  src/Clients/WebApp/Services/Devices/DevicesService.cs
  src/Clients/WebApp/Services/Devices/IDevicesService.cs
  src/Clients/WebApp/Services/Shared/CommandsExecutor/DefaultCommandNotificationMessagesMapping.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/SignalRNotificationsHub.cs
  src/Clients/WebApp/Shared/Components/DeviceConnectionStatus/DeviceConnectionStatus.razor
  src/Clients/WebApp/Shared/Components/DeviceConnectionStatus/DeviceConnectionStatus.razor.cs
Due: azure-pipelines-webapp.yml

Improvements in weather station view, device status check fixed
  src/Application/SmartHome.Application.Shared/Events/App/SavedInEventStoreEvent.cs
  src/Application/SmartHome.Application/Events/App/DevicesStatusCheckEventHandler.cs
  src/Clients/WebApp/Helpers/CustomHttpClientJsonExtensions.cs
  src/Clients/WebApp/Helpers/CustomJsonSerializerOptionsProvider.cs
  src/Clients/WebApp/Helpers/DateTimeExtensions.cs
  src/Clients/WebApp/Helpers/JsonSerializerHelpers.cs
  src/Clients/WebApp/Pages/EventLog/EventLogHistory/EventLogHistory.razor.cs
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DevicesManager.razor
  src/Clients/WebApp/Pages/SystemModules/DevicesManager/DevicesManager.razor.cs
  src/Clients/WebApp/Pages/SystemModules/WeatherStation/WeatherStation.razor
  src/Clients/WebApp/Pages/SystemModules/WeatherStation/WeatherStation.razor.cs
  src/Clients/WebApp/Services/Shared/CommandsExecutor/CommandsExecutor.cs
  src/Clients/WebApp/Services/Shared/CommandsExecutor/ICommandsExecutor.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/SignalRNotificationsHub.cs
  src/Clients/WebApp/Shared/Components/ComponentWithNotificationHub.cs
  src/Clients/WebApp/Shared/Components/DeviceEventsLog/DeviceEventsLog.razor
  src/Clients/WebApp/Shared/Components/DeviceEventsLog/DeviceEventsLog.razor.cs
  src/Integrations/Functions/SaveEvent/SaveEvent.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Some fixes
  src/Clients/WebApp/Pages/SystemModules/GreenhouseController/GreenhouseController.razor
  src/Clients/WebApp/Pages/SystemModules/GreenhouseController/GreenhouseController.razor.cs
  src/Clients/WebApp/Pages/SystemModules/WeatherStation/WeatherStation.razor.cs
  src/Clients/WebApp/Services/Shared/CommandsExecutor/CommandsExecutor.cs
  src/Clients/WebApp/Shared/Components/DeviceEventsLog/DeviceEventsLog.razor
  src/Clients/WebApp/Shared/Components/DeviceEventsLog/DeviceEventsLog.razor.cs
Due: azure-pipelines-webapp.yml

Greenhouse management view added
  src/Api/Controllers/GreenhouseDataController.cs
  src/Clients/WebApp/Pages/SystemModules/GreenhouseController/GreenhouseController.razor
  src/Clients/WebApp/Pages/SystemModules/GreenhouseController/GreenhouseController.razor.cs
  src/Clients/WebApp/Services/Analytics/GreenhouseService.cs
  src/Clients/WebApp/Services/Analytics/IGreenhouseService.cs
  src/Clients/WebApp/Shared/NavMenu.razor
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Greenhouse controller view finished
  src/Clients/WebApp/App.razor
  src/Clients/WebApp/Pages/SystemModules/GreenhouseController/GreenhouseController.razor
  src/Clients/WebApp/Pages/SystemModules/GreenhouseController/GreenhouseController.razor.cs
  src/Clients/WebApp/Services/Devices/DevicesService.cs
  src/Clients/WebApp/Services/Devices/IDevicesService.cs
  src/Clients/WebApp/Services/Shared/CommandsExecutor/CommandsExecutor.cs
  src/Clients/WebApp/Services/Shared/CommandsExecutor/DefaultCommandNotificationMessagesMapping.cs
Due: azure-pipelines-webapp.yml

Rule management views added
  src/Clients/WebApp/Pages/Rules/ManageRule/ManageRule.razor
  src/Clients/WebApp/Pages/Rules/ManageRule/ManageRule.razor.cs
  src/Clients/WebApp/Pages/Rules/RulesList/RulesList.razor
  src/Clients/WebApp/Pages/Rules/RulesList/RulesList.razor.cs
  src/Clients/WebApp/Shared/NavMenu.razor
  src/Clients/WebApp/wwwroot/css/query-builder.css
  src/Clients/WebApp/wwwroot/index.html
  src/Clients/WebApp/wwwroot/javascript/custom-functions.js
  src/Clients/WebApp/wwwroot/javascript/doT.js
Due: azure-pipelines-webapp.yml

Added UI for rules manager step 1
  src/Application/SmartHome.Application.Shared/RulesEngine/Helpers/RuleOutputActionHelpers.cs
  src/Application/SmartHome.Application.Shared/RulesEngine/Models/RuleOutputAction.cs
  src/Clients/WebApp/Pages/Rules/ManageRule/ManageRule.razor
  src/Clients/WebApp/Pages/Rules/ManageRule/ManageRule.razor.cs
  src/Clients/WebApp/wwwroot/css/query-builder.css
  src/Clients/WebApp/wwwroot/index.html
  src/Clients/WebApp/wwwroot/javascript/custom-functions.js
  src/Clients/WebApp/wwwroot/javascript/query-builder.min.js
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Rule engine views part 2
  src/Application/SmartHome.Application.Shared/Commands/SendEmail/SendEmailCommand.cs
  src/Application/SmartHome.Application.Shared/RulesEngine/Helpers/RuleOutputActionHelpers.cs
  src/Application/SmartHome.Application.Shared/RulesEngine/Models/RuleOutputAction.cs
  src/Application/SmartHome.Application.Shared/RulesEngine/Models/RuleOutputActionId.cs
  src/Clients/WebApp/Pages/Rules/ManageRule/ManageRule.razor
  src/Clients/WebApp/Pages/Rules/ManageRule/ManageRule.razor.cs
  src/Clients/WebApp/Pages/Rules/ManageRule/ManageRule.razor.css
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/wwwroot/css/site.css
  src/Clients/WebApp/wwwroot/index.html
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Revert api client change
  src/Clients/WebApp/Services/Shared/ApiClient/ApiClient.cs
Due: azure-pipelines-webapp.yml

Fix schedule tasks
  src/Integrations/Functions/ScheduleTasks/ScheduleTasks.cs
Due: none

Added missing mapping to MongoClassMap
  src/Infrastructure/SmartHome.Infrastructure/EventStore/MongoClassMap.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Disable EF core sensitive loggings
  src/Infrastructure/SmartHome.Infrastructure/DI/ServicesConfig.cs
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Add rules execution history view
  src/Api/Controllers/RulesController.cs
  src/Application/SmartHome.Application.Shared/Queries/Rules/GetRulesExecutionHistoryList/GetRulesExecutionHistoryListQuery.cs
  src/Application/SmartHome.Application.Shared/Queries/Rules/GetRulesExecutionHistoryList/RulesExecutionHistoryListVm.cs
  src/Application/SmartHome.Application/Queries/Rules/GetRulesExecutionHistoryList/GetRulesExecutionHistoryListQueryHandler.cs
  src/Clients/WebApp/Pages/Rules/RulesExecutionHistoryList/RulesExecutionHistoryList.razor
  src/Clients/WebApp/Pages/Rules/RulesExecutionHistoryList/RulesExecutionHistoryList.razor.cs
  src/Clients/WebApp/Services/Rules/IRulesService.cs
  src/Clients/WebApp/Services/Rules/RulesService.cs
  src/Clients/WebApp/Shared/NavMenu.razor
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Fix device status check
  src/Application/SmartHome.Application/Events/App/DevicesStatusCheckEventHandler.cs
  src/Application/SmartHome.Application/SmartHome.Application.csproj
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

auth
  src/Api/Controllers/DevicesController.cs
  src/Api/Controllers/EventLogController.cs
  src/Api/Controllers/GreenhouseDataController.cs
  src/Api/Controllers/RulesController.cs
  src/Api/Controllers/WeatherDataController.cs
  src/Api/SmartHome.Api.csproj
  src/Api/Startup.cs
  src/Application/SmartHome.Application.Shared/Events/EventBase.cs
  src/Clients/WebApp/App.razor
  src/Clients/WebApp/Helpers/CustomHttpClientJsonExtensions.cs
  src/Clients/WebApp/Pages/Analytics/Greenhouse/GreenhouseView.razor
  src/Clients/WebApp/Pages/Analytics/Weather/WeatherView.razor
  src/Clients/WebApp/Pages/Authentication.razor
  src/Clients/WebApp/Pages/FetchData.razor
  src/Clients/WebApp/Pages/Index.razor
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/Services/Shared/ApiClient/ApiClient.cs
  src/Clients/WebApp/Shared/RedirectToLogin.razor
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
  src/Clients/WebApp/_Imports.razor
  src/Clients/WebApp/wwwroot/appsettings.json
  src/Clients/WebApp/wwwroot/index.html
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Upgrade to .NET 6.0
  src/Api/Controllers/NotificationsHubController.cs
  src/Api/MediatR/RequestCacheBehaviour.cs
  src/Api/SmartHome.Api.csproj
  src/Application/SmartHome.Application.Shared/Interfaces/Command/ICommand.cs
  src/Application/SmartHome.Application.Shared/SmartHome.Application.Shared.csproj
  src/Application/SmartHome.Application/SmartHome.Application.csproj
  src/Clients/WebApp/Program.cs
  src/Clients/WebApp/Services/Shared/ApiClient/ApiClient.cs
  src/Clients/WebApp/Services/Shared/ApiUrlProvider/ApiUrlProviderService.cs
  src/Clients/WebApp/Services/Shared/ApiUrlProvider/IApiUrlProviderService.cs
  src/Clients/WebApp/Services/Shared/AuthTokenProvider/AuthTokenProviderService.cs
  src/Clients/WebApp/Services/Shared/AuthTokenProvider/IAuthTokenProviderService.cs
  src/Clients/WebApp/Services/Shared/Exceptions/CustomExceptionsService.cs
  src/Clients/WebApp/Services/Shared/Exceptions/ICustomExceptionsService.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/HubReconnectingException.cs
  src/Clients/WebApp/Services/Shared/NotificationsHub/SignalRNotificationsHub.cs
  src/Clients/WebApp/Shared/Authentication/CustomAuthorizationMessageHandler.cs
  src/Clients/WebApp/SmartHome.Clients.WebApp.csproj
  src/Clients/WebApp/wwwroot/appsettings/appsettings-dev.json
  src/Clients/WebApp/wwwroot/appsettings/appsettings-prod.json
  src/Clients/WebApp/wwwroot/appsettings/appsettings-test.json
  src/Domain/SmartHome.Domain.csproj
  src/Infrastructure/SmartHome.Infrastructure.Migrations/SmartHome.Infrastructure.Migrations.csproj
  src/Infrastructure/SmartHome.Infrastructure.Shared/SmartHome.Infrastructure.Shared.csproj
  src/Infrastructure/SmartHome.Infrastructure/MediatR/CommandResultBehaviour.cs
  src/Infrastructure/SmartHome.Infrastructure/MediatR/ValidationBehaviour.cs
  src/Infrastructure/SmartHome.Infrastructure/NotificationService/SignalRConnectionInfo.cs
  src/Infrastructure/SmartHome.Infrastructure/SmartHome.Infrastructure.csproj
  src/Integrations/Functions/Program.cs
  src/Integrations/Functions/SmartHome.Integrations.Functions.csproj
  src/Integrations/Functions/host.json
Due: azure-pipelines-api.yml, azure-pipelines-webapp.yml

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none

Update azure-pipelines-webapp.yml for Azure Pipelines
  azure-pipelines-webapp.yml
Due: none

Github workflow removed
  .github/workflows/azure-static-web-apps-kind-ground-0754c1303.yml
Due: none

Update azure-pipelines-integrations.yml for Azure Pipelines
  azure-pipelines-integrations.yml
Due: none

Path conditions:
  azure-pipelines-api.yml: any of: src/Api, src/Domain, src/Application, src/Infrastructure
  azure-pipelines-webapp.yml: any of: src/Clients/WebApp, src/Domain, src/Application, src/Infrastructure
